export(addAnnotation)
export(addArea)
export(addAxisLabels)
export(addBars)
export(addCaption)
export(addErrorBars)
export(addExplanation)
export(addGrid)
export(addLabel)
export(addMinorTicks)
export(addPiper)
export(addSmooth)
S3method(addSmooth,default)
S3method(addSmooth,list)
export(addStiff)
export(addTable)
export(addTernary)
export(addTitle)
exportMethods(addXY)
export(areaPlot)
export(biPlot)
S3method(biPlot,default)
S3method(biPlot,princomp)
export(blueRed.colors)
export(boxPlot)
S3method(boxPlot,data.frame)
S3method(boxPlot,list)
S3method(boxPlot,numeric)
export(boxPlotStats)
exportMethods(colorPlot)
export(condition)
export(contourPlot)
S3method(contourPlot,default)
S3method(contourPlot,matrix)
export(coolWarm.colors)
export(copyDemo)
export(corGram)
export(cov2Ellipse)
export(dataEllipse)
export(datePretty)
exportMethods(dotPlot)
export(ecdfPlot)
S3method(ecdfPlot,default)
export(frameWt)
export(getDist.fcn)
export(greenRed.colors)
export(histGram)
S3method(histGram,default)
export(hull)
export(interpLine)
export(labelPoints)
export(linearPretty)
export(lineWt)
export(logPretty)
export(namePretty)
export(numericData)
export(paraSpline)
export(pastel.colors)
export(piperPlot)
export(piperSubplot)
export(probPlot)
S3method(probPlot,default)
export(probPretty)
export(qqPlot)
S3method(qqPlot,default)
export(redBlue.colors)
export(redGreen.colors)
export(refLine)
export(renderBoxPlot)
export(renderBXP)
export(renderX)
export(renderY)
export(scalePlot)
exportMethods(seasonPlot)
export(seriesPlot)
S3method(seriesPlot,default)
export(setAxis)
export(setColor)
export(setDefaults)
export(setExplan)
export(setGD)
export(setGraph)
export(setGroupPlot)
export(setLayout)
export(setMargin)
export(setMultiPlot)
export(setPage)
export(setPDF)
export(setPlot)
export(setSplom)
export(setSweave)
export(splomPlot)
export(stdWt)
export(stiffPlot)
export(strip.blanks)
export(ternaryPlot)
export(ternarySubplot)
export(ticks.render)
exportMethods(timePlot)
export(timePretty)
export(transData)
export(transPlot)
export(transPretty)
export(warmCool.colors)
exportMethods(xyPlot)
